body {
  background: linear-gradient(127deg, #00dbde 0%, #fc00ff 100%);
}
#navCont {
  display: flex;
  justify-content: center;
  background-color: rgb(40, 91, 121);
  color: aliceblue;
  height: 100px;
  margin-bottom: 10px;
  border-bottom: 3px solid rgb(210, 172, 219);
}
.sectionList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.results {
  background-color: rgb(40, 91, 121);
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  color: aliceblue;
  width: 85%;
  padding: 15px 25px;
  margin: 15px;
  border: 1px solid rgb(210, 172, 219);
}
.resultsContainer {
  min-height: 200px;
  font-size: 21px;
  margin-top: 30px;
  margin-left: 10%;
  text-align: left;
}
footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
  height: 300px;
  width: 100%;
  height: 75px;
  background-color: rgb(40, 91, 121);
  border-top: 3px solid rgb(210, 172, 219);
  color: aliceblue;
  text-align: center;
  padding-top: 10px;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#spanFoot {
  margin-left: 35%;
}
.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
button {
  width: 85%;
  margin: 5px;
  margin-left: 8%;
  align-self: center;
  font-size: 10px;
}